@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

:root {
  background-color: #A5C9CA;
  font-family: "Open Sans", sans-serif;
}

#root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
}